<div class="card">
    <div class="card-content">

        <h1 class="center">Group Creation</h1>
        <div class="lead">
            Please use POST to create a group
        </div>
        <div class="section">
            
        </div>

    </div>
</div>