<h3><i class="fas fa-fish"></i> 虾滑_Proto_one</h3>
<div class="section">
    <div class="lead">
        where makes snowboarding easier
    </div>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/dashboard" class="btn red darken-1">
        <i class="fab fa-google left"></i> Go to Dashboard
    </a>
    <div class="space-30"></div>
    <a href="/auth/wechat" class="btn green darken-1">
        <i class="fab fa-weixin left"></i> Login with WeChat
    </a>
</div>
<div class="divider"></div>

<div class="section">
    <a href="/group/all" class="btn yellow darken-4">
        <i class="fab fa-glass-martini left">get all classes</i>
    </a>
    <div class="space-30"></div>

    <a href="/group/create" class="btn yellow darken-4">
        <i class="fab fa-glass-martini left">create a class</i>
    </a>
</div>